ion-content {
    --background: #FFF;
}

ion-content form.requisicao {
    margin-top: 15px;
}

ion-content form.requisicao ion-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
}

ion-content form.requisicao ion-datetime {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    padding: 10px 5px 5px 5px;
}

ion-content form.requisicao ion-select {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    padding: 10px 5px 5px 5px;
}

ion-content form.requisicao ion-button {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-size: 18px;
    text-transform: initial;
}

ion-content form.requisicao .scanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 25px;
}

ion-content form.requisicao .scanner p {
    text-align: center;
    color: #b6b6b6;
}

ion-content form.requisicao .scanner ion-button {
    width: 8.5em;
}

ion-content form.requisicao .scanner ion-button ion-icon {
    margin-right: 10px;
}