ion-content {
    --background: #FFF;
}

ion-content header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-content header img {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

ion content ion-list a {
    text-decoration: none;
}

ion-content ion-list ion-item {
    cursor: pointer;
}

ion-content ion-list ion-item ion-icon {
    padding-right: 15px;
}

ion-content ion-list ion-item ion-toggle {
    height: 20px;
}