@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

nav {
	background-color: #316331;
}

nav img {
	width: 10em;
}

nav li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.25em auto 0;
}

nav li a:hover {
	text-decoration: none;
}

nav li a i {
	color: #FFF;
	font-size: 1.3em;
}

footer {
	background-color: #316331;
}

footer p {
	color: #FFF;
	font-size: 0.8em;
}